body{
    background-color: #ecfcac;
    text-align: center;
}

h2{
    font-size: 30px;
    font-family: Arial;
    align-items: center;
    text-align: center;
    padding-top: 150px;
    font-weight: 100;
}
.create button{
    background: #01a9b4;
    border-radius: 10px;
    color: white;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    margin: auto;
    position: relative;
    font-family: Arial;
    font-size: 18px;
    align-items: center;
    text-align: center;
    text-decoration: none;
    border: 0;
}